body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin: 0;
    padding: 1em;
    word-break: break-word;
}

div#container {
    margin: 0 auto 0 auto;
    max-width: 60em;
    padding: 1em 1.5em 1.3em 1.5em;
}

.warning{
    color: red;
    font-weight: 400;
    border-top: 1px solid #999;
}

button{
    border: none;
    font-family: 'Roboto', sans-serif;
    font-size: 0.8em;
    margin: 0 10px 1em 0;
    padding: 0.5em 0.7em 0.6em 0.7em;
}

.mousedown {
    width: 120px;
    height: 36px;
    background-color: cadetblue;
    color: #f0f3f9;
    overflow: visible;
    cursor: pointer;
    font-size: 14px;
    padding-left: 0.5rem;
    margin-left: 0px;
    margin-top: 0px;
    border-radius: 15px;
}
.mouseup {
    width: 120px;
    height: 36px;
    background-color: cadetblue;
    color: #f0f3f9;
    overflow: visible;
    cursor: pointer;
    font-size: 14px;
    padding-left: 0.5rem;
    margin-left: 1px;
    margin-top: 1px;
    border-radius: 15px;
}

.button-disabled{
    color: #999;
}

#logs{
    border: 1px solid;
    background: #99999930;
}

input[type='checkbox'] {
    height: 15px;
    width: 15px;
}



