#grpCallConfig{
    box-sizing: border-box;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #fafafc;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 400px;
    display: flex;
    z-index: -999;
    opacity: 0;
}

#xConfigMaskLayer{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #010101;
    z-index: -999;
    opacity: 0;
}

#configCloseBtn{
    text-align: right;
    width: 100%;
    margin: 8px 30px 0 0;
    font-size: 20px;
    font-weight: bolder;
    cursor: pointer;
}

#xConfigTable{
    margin: 10px;
    font-family: cursive;
    font-size: 12px;
    border-collapse:separate;
    border-spacing:2px;
}
#xConfigTable tr{
    font-size: 20px;
}
#xConfigTable th{
    text-align: center;
}
.xLabelTip{
    width: 80px;
    text-align: right;
    line-height: 32px;
    display: inline-block;
    padding-right: 10px;
    font-size: 14px;
    vertical-align: top;
    font-weight: bold;
}

#submitConfig{
    width: 178px;
    height: 25px;
    color: #fff;
    background-color: #008cee;
    border: 1px solid #008cee;
    margin-top: 3px;
}
#x-makeCall{
    width: 50px;
    height: 25px;
    color: #fff;
    background-color: #008cee;
    border: 1px solid #008cee;
    margin-top: 3px;
}

