#grpCallConfig{
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 400px;
    display: flex;
    z-index: -999;
    opacity: 0;
    background-color: #fafafc;
}

#xConfigMaskLayer{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #010101;
    z-index: -999;
    opacity: 0;
}

#configHead{
    text-align: center;
    width: 100%;
    line-height: 50px;
    font-size: 20px;
    letter-spacing: 5px;
    border-bottom: 1px solid #ececed;
    background-color: #fff;
}

#closeFont{
    cursor: pointer;
    position: absolute;
    width: 21px;
    height: 21px;
    line-height: 21px;
    top: 5px;
    right: 5px;
}

#xConfigTable{
    margin: 10px;
    font-family: cursive;
    font-size: 12px;
    border-collapse:separate;
    border-spacing:2px;
}
#xConfigTable tr{
    font-size: 20px;
}
#xConfigTable th{
    text-align: center;
}
.xLabelTip{
    width: 80px;
    text-align: right;
    line-height: 32px;
    display: inline-block;
    padding-right: 10px;
    font-size: 14px;
    vertical-align: top;
    font-weight: bold;
}

#submitConfig{
    width: 178px;
    height: 25px;
    color: #fff;
    margin-top: 3px;
}
#x-makeCall{
    width: 50px;
    height: 25px;
    color: #fff;
    margin-top: 3px;
}

.x-icon-logo{
    vertical-align: -10%;
    margin-right: 8px;
    width: 24px;
    height: 24px;
    background-position: 0 0;
    background-image: url(../popup/logo.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: inline-block;
}
